*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: aqua;
    text-align:center;
    font-family:  'Courier New', Courier, monospace;
}

main{

    width: 75%;
    margin: 10px auto;
    border: 1px solid rebeccapurple;
color: antiquewhite;
display: grid;
grid-template-rows: 60px 100px 200px 60px;
grid-template-columns: repeat(3,1fr) 150px;
grid-gap: 10px;
}
.div1{background-color: blue;
grid-column: 1/-1;}
.div2{background-color: rgb(166, 103, 8);}
.div3{
    background-color: brown;
}
.div4{background-color: yellow;}
.div5{background-color: green;
    grid-row: 2/4;
grid-column: 4/5;}
.div6{background-color: rgb(27, 15, 17);
grid-column: 1/4;}
.div7{background-color: orange;
grid-column: 1/-1;}