table,th,td{
    border:5px solid green;
    border-collapse: collapse;
    text-align: left;
    width:200px;
    
}
h1{
    text-align: center;
    
}
span{
    text-align: center;
display: block;
}
ul li{
    display: inline;
}