h1{color: aqua;
background-color: beige;
}
body{background-color: aliceblue;
    background-image: url(pexels-photo-443446.jpeg);
background-repeat: no-repeat;
}
p{
    background-color: aquamarine;
}